# Ignore Object Files 
*.o
*.out

# Ignore Binaries
bin/
*.exe

# Ignore Libraries
*.so

# Ignore vs code files
.vscode/

# Ignore 3rd Party Libraries
inc/nlohmann/
inc/rapidcsv.h

# Ignore Extra Files
*.csv
*.json
*.xml

